<section class="houseShowpage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="houseShowpage_img text-center">
          <%= attachment_image_tag @house, :house_image, fallback: "no_house_image.jpg", size: "250x250" %>
        </div>
        <hr class="divider light my-4">

        <% if flash[:notice] %>
          <p class="alertmessage">
            <%= flash[:notice] %>
          </p>
        <% end %>

        <div class="houseShowpage_line">
          <div class="houseShowpage_title">
            <i class="far fa-building"></i> <%= @house.title %>
          </div>

          <div class="houseShowpage_info">
            所在地：<%= @house.prefecture %> <%= @house.address %>
          </div>

          <div class="houseShowpage_info">
            賃料(1ヶ月)：<%= @house.price %>円
          </div>

          <div class="houseShowpage_info">
            敷金：<%= @house.deposit %>  |  礼金：<%= @house.key %>
          </div>

          <div class="houseShowpage_info">
            建物の構造：<%= @house.construction %>
          </div>

          <div class="houseShowpage_info">
            現在の契約状況：<%= @house.status %>
          </div>

          <div class="houseShowpage_introduction">
            <mark class="bg-info">物件の紹介</mark><br><br>
            <%= @house.body %>
          </div>
        </div>

        <hr class="divider light my-4">
        <h3>
          <%= link_to "編集する", edit_house_path(@house.id), class: "btn houseShowpage_btn2" %>
        </h3>
        <h3>
          <%= link_to "マイページに戻る", confirm_user_path(current_user.id), class: "btn houseShowpage_btn" %>
        </h3>

      </div>
    </div>
  </div>
</section>