<section class="talkIndexpage">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <% if @over_ten %>
          <%= link_to "以前のメッセージ", '?m=all', class: "btn talkIndexpage_btn2" %>
        <% end %>

        <div class="ui segment">
          <% @talks.each do |talk| %>
            <% if talk.conversation.present? %>
              <div class="talkIndexpage_item">
                <div class="talkIndexpage_content">
                  <div class="talkIndexpage_header">
                    <strong><%= talk.user.name %></strong>
                    <%= talk.talk_time %>
                  </div>

                  <div class="talkIndexpage_list">
                    <div class="talkIndexpage_item">
                      <i class="right triangle icon"></i>
                      <%= talk.conversation %>
                    </div>
                  </div>

                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <%= form_with(model: [@room, @talk]) do |c| %>
        
          <div class="talkIndexpage_field">
            <%= c.text_area :conversation, class: "form-control" %>
          </div>

          <%= c.text_field :user_id, value: current_user.id, type: "hidden" %>

          <h3>
            <%= c.submit "メッセージを送る", class: "btn talkIndexpage_btn" %>
          </h3>
      
        <% end %>

      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>