<% @user || current_user %>
<div class="userInfo">
  <%= link_to "いいねしている", following_user_path(@user) %>
  <strong><%= @user.following.count %></strong>  |

  <%= link_to "いいねされた", followers_user_path(@user) %>
  <strong><%= @user.followers.count %></strong>  |

  <%= link_to "マッチング済", matching_user_path(@user) %>
  <strong><%= @user.matching.count %></strong>
</div>