<section class="userConfirmpage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="userConfirmpage_img text-center">
          <%= attachment_image_tag @user, :user_image, fallback: "no_image.jpg", size: "200x200" %>
        </div>
        <hr class="divider light my-4">
        
        <% if flash[:notice] %>
          <p class="alertmessage">
            <%= flash[:notice] %>
          </p>        
        <% end %>
        
        <div class="userConfirmpage_line">
        <div class="userConfirmpage_name">
          <i class="fas fa-user"></i> <%= @user.name %>
        </div>
        
        <div class="userConfirmpage_radio">
          性別：<%= @user.sex %>  |  <%= @user.which %>
        </div>

        <div class="userConfirmpage_radio">
          居住地：<%= @user.prefecture %>在住
        </div>

        <div class="userConfirmpage_radio">
          メールアドレス：<%= @user.email %>
        </div>

        <div class="userConfirmpage_introduction">
          <mark class="bg-info">自己紹介</mark><br><br>
          <%= @user.introduction %>
        </div>
        </div>
        <hr class="divider light my-4">

        <h3>
          <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn userConfirmpage_btn" %>
        </h3>

      </div>
    </div>
  </div>
</section>