<section class="loginpage">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <h2 class="loginpage_title">ログイン</h2>

        <div class="form-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "あなたのメールアドレス" %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "あなたのパスワード" %>
            </div>

            <div class="actions">
              <h3 class="loginpage_btn">
                <%= f.submit "ログインする", class: "btn btn-success form-control" %>
              </h3>
            </div>
          <% end %>
          <div class="loginpage_link">
            <%= render "devise/shared/links" %>
          </div>
        </div>

        <h4 class="loginpage_registration">まだ会員登録をしていない方</h4>
        <p class="loginpage_description">
          まだ会員登録がお済みでない方はこちらより登録可能です。<br>
          <i class="fas fa-arrow-down"></i>
        </p>
        <div class="loginpage_btn1">
          <%= link_to "新規会員登録画面へ", new_user_registration_path, class: "btn btn-mg btn-secondary form-control" %>
        </div>
      </div>

      <div class="col-md-1"></div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>